.book .book-header {
  background-image: url("assets/logo.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px; /* puedes ajustar a 80px o lo que necesites */
}
